.ui-btn {
    display: inline-block;
    width: 100%;
    // max-width: 322px;
    padding: 0 5px;
    height: 80px;
    line-height: 80px;
    background-color: #ee2742;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: .3s background-color,.3s color,.3s border-color,.3s box-shadow,.3s -webkit-box-shadow;

    &:hover {
        background-color: #000;  
    }

    @media(max-width:1024px) {
        height: 43px;
        line-height: 43px;
    }

    
}

.ui-btn-clear {
    display: inline-block;
    width: 100%;
    height: 80px;
    line-height: 74px;
    padding: 0 5px;
    border: 3px solid $colorRed;
    font-weight: 700;
    color: $colorRed;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: .3s background-color,.3s color,.3s border-color,.3s box-shadow,.3s -webkit-box-shadow;

    &:hover {
        color: #000;
        border: 3px solid #000;
    }

    @media(max-width:1024px) {
        height: 43px;
        line-height: 37px;
    }

    @media(max-width:576px) {
        height: 57px;
        line-height: 51px;
    }
}

.ui-breadcrumbs {
    margin-bottom: 120px;

    @media(max-width:1024px) {
        margin-bottom: 90px;
    }

    @media(max-width:576px) {
        margin-bottom: 45px;
    }

    &-link {
        margin-bottom: 10px;
        font-size: rem(24);

        &::after {
            position: relative;
            display: inline-block;
            content: "";
            margin: 0 10px;
            // background-image: url("../images/svg/breadcrums-svg.svg");
            transform: rotate(45deg);
            border-top: 1px solid #000;
            border-right: 1px solid #000;
            width: 12px;
            height: 12px;
            top: -2px;
        }

        &:hover {
            text-decoration: underline;
        }

        @media(max-width:1024px){
            font-size: rem(16);

            &::after {
                position: relative;
                display: inline-block;
                content: "";
                margin: 0 5px;
                transform: rotate(45deg);
                border-top: 1px solid #000;
                border-right: 1px solid #000;
                width: 8px;
                height: 8px;
                top: -1px;
            }
        }

        @media(max-width:576px){
            font-size: rem(10);

            &::after {
                position: relative;
                display: inline-block;
                content: "";
                margin: 0 2px;
                transform: rotate(45deg);
                border-top: 1px solid #000;
                border-right: 1px solid #000;
                width: 4px;
                height: 4px;
                top: -1px;
            }
        }
    }

    &-current {
        font-size: rem(24);
        color: $colorRed;

        @media(max-width:1024px){
            font-size: rem(16);
        }

        @media(max-width:576px){
            font-size: rem(10);
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.ui-title {
    font-size: rem(70);
    font-weight: 700;
    line-height: 1.17;
    color: $colorDark;

    @media(max-width:1024px) {
        font-size: rem(38);
    }
}