.header {
    position: relative;
    // padding-top: 360px;
    margin-bottom: 80px;

    @media(max-width:1024px){
        margin-bottom: 50px;
        // padding-top: 320px;
    }

    @media(max-width:576px) {
        // padding-top: 255px;
    }

    @media(max-width:420px){
        margin-bottom: 45px;
    }

    &-logo {
        flex: 0 0 245px;
        max-width: 245px;

        @media(max-width:1240px){
            flex: 0 0 128px;
            max-width: 128px;
        }
    }

    &-about {
        @media(max-width:576px) {
            background-image: url("../images/about-image.png");
            background-size: cover;
            padding-bottom: 250px;
            background-position: center;
        }

        .header-fixed {
            margin-bottom: 0;
        }

        .bg-white {
            .header-box {
            padding-top: 168px !important;

            @media(max-width:1024px) {
                padding-top: 100px !important;
            }

            @media(max-width:576px) {
                padding-top: 80px !important;
            }
        }
        }
        
    }

    &-adap {
        .bg-white {
            .header-box {
            padding-top: 168px !important;

            @media(max-width:1024px) {
                padding-top: 100px !important;
            }

            @media(max-width:576px) {
                padding-top: 80px !important;
            }
        }
        }

        .header-fixed {
            margin-bottom: 0;
        }
    }

    &-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
       
    }

    &-nav {
        ul {
            display: flex;
            justify-content: space-between;
            gap:50px;
            
            @media(max-width:1580px){
                gap:30px;
            }

            @media(max-width:1100px){
                gap:25px;
            }

            @media(max-width:1024px){
                gap:30px;
            }

            li {
                // margin-left: 50px;
    
                @media(max-width:1580px){
                    // margin-left: 30px;
                    // gap: 30px;
                }
    
                a {
                    position: relative;
                    text-transform: uppercase;
                    font-size: rem(24);

                    &:hover {
                        color: $colorRed;
                        &::after {
                            display: block;
                        }
                    }
    
                    &::after {
                        content: "";
                        display: none;
                        position: absolute;
                        width: 50px;
                        height: 5px;
                        background-color: $colorRed;
                    }

                    @media(max-width:1450px) {
                        font-size: rem(18);
                    }

                    @media(max-width:1150px) {
                        font-size: rem(16);
                    }
                }
            }
        }

        

        @media(max-width:1023px) {
            display: none;
        }
    }

    &-burger {
        display: none;

        @media(max-width:1023px) {
            display: block;
        }
    }

    &-mobile {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #E4E4E4;      
        top: 0;
        z-index: 15;
        margin: 0 -45px;
        padding: 45px 45px 80px 45px;
        overflow-y: auto;   
        
        &-logo {
            max-width: 128px;
        }

        &-body {  
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 40px;
        }

        @media (max-width: 576px) {
          margin: 0 -25px;
          padding-left: 25px;
          padding-right: 25px;
        }

        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 80px;
        }

        &-li {
            margin-bottom: 25px;

            &-link {
                font-size: rem(24);

                &:hover {
                    color: $colorRed;
                }
            }
        }

        &-ul {
            // margin-bottom: 40px;
            .header-mobile-li:last-child {
                margin-bottom: 0;
            }
        }

        &-txt {
            margin-bottom: 25px;
            font-size: rem(18);
            font-weight: 700;
        }

        &-phone {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            // &:nth-of-type(2){
            //     margin-bottom: 45px;
            //     background-color: black;
            // }

            &-number {
                display: inline-block;
                margin-left: 10px;

                &:hover {
                    opacity: 0.5;
                }
            }
        }

        &-mail {
            display: flex;
            align-items: center;
            margin-bottom: 45px;

            &-email {
                display: inline-block;
                margin-left: 10px;

                &:hover {
                    opacity: 0.5;
                }
            }
        }

        &-brand {
            img {
                margin-right: 15px;
            }
        }
    }

    &-error {
        margin-bottom: 0;
        background-color: $colorBack;

        .header-logo {
            max-width: 245px;
            flex: 0 0 245px;

            @media(max-width:1024px) {
                max-width: 128px;
                flex: 0 0 128px;
            }
        }
    }

    &-fixed {
        width: 100%;
        margin-bottom: 190px;
        padding-top: 80px;
        background-color: $colorBack;
        z-index: 11;
        background: transparent;

        @media(max-width:1024px) {
            margin-bottom: 210px;
            padding-top: 50px;
        }

        @media(max-width:576px) {
            margin-bottom: 135px;
            padding-top: 30px;
        }

        .container {
            padding: 0;
            
        }        
    }

    .bg-white {
        .header-fixed {
            position: fixed;
            top: 0;
            padding-top: 0;
            background-color: white;
            padding-top: 15px;
            padding-bottom: 15px;
            margin: 0 -80px;

            @media(max-width:1024px) {
                margin: 0 -45px;
            }

            @media(max-width:576px) {
                margin: 0 -25px;
            }
        }

        .container {
            padding: 0 80px;

            @media(max-width:1024px) {
                padding: 0 45px;
            }

            @media(max-width:576px) {
                padding: 0 25px;
            }
        }

        .header-logo {
            max-width: 175px;
            flex: 0 0 175px;

            @media(max-width:1024px) {
                max-width: 128px;
                flex: 0 0 128px;
            }
        }

        .header-box {
            padding-top: 360px;

            @media(max-width:1024px) {
                padding-top: 340px;
            }

            @media(max-width:576px) {
                padding-top: 215px;
            }
        }
        // .main-header-title {
        //     padding-top: 360px;
        // }
    }

    .jq-selectbox__select {
        display: flex;
        align-items: center;
        height: 100px;
        padding: 0 45px 0 30px;
        background: #ffffff;
        box-shadow: none;
        border: none !important;

        @media(max-width:1024px) {
            height: 58px;
        }

        @media(max-width:576px) {
            padding: 0 25px;
        }
        
    }

    .jq-selectbox__trigger {
        // height: auto;
        border: none;
        // top: 35%;
        // transform: translate(0, -15%);
        &-arrow {
            border: none;
        }
    }

    .jq-selectbox {
        overflow: unset;

        &:focus-visible {
            outline: none;
            border: none;
        }

        @media(max-width:576px) {
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 5px;
        }
    }

    .jq-selectbox__select {
        border-radius: 0;

        &:focus-visible {
            outline: none;
            border: none;
        }
    }

    .jq-selectbox__dropdown {
        // bottom: -215px !important;
        width: 100% !important;
        bottom: none !important;
        top: 100% !important;
        max-height: 268px !important;
        overflow: hidden;
        overflow-y: auto;
        margin-top: 20px;

        @media (max-width:576px) {
          max-height: 188px;
          top: 58px !important;
        }
        

        li.selected {
            background-color: #ffffff;
            color: #000;

            &:hover {
                background-color: $colorGray;
                color: $colorRed;
            }
        }
        ul {
            height: 100%;
            max-height: 268px !important;
            border: 1px solid #F2F2F2;
            background-color: #ffffff;
        }
        ul li {
            // display: flex;
            // align-items: center;
            // height: 66px;
            // margin:0 -30px;
            padding:17px 30px;
            font-weight: 300;
            font-size: rem(24);
            font-family: $fontNun;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                background-color: $colorGray;
                color: $colorRed;
            }

            @media(max-width:1024px) {
                font-size: rem(16);
            }

            @media(max-width:576px) {
                font-size: rem(20);
            }
            
        }
        ul::-webkit-scrollbar{
            width: 6px;

            // &-button {
            //     width: 0;
            // }

            // &-track {
            //     background-color: $colorRed;
            // }
            
        }

        
    }

    .jq-selectbox__select-text {
        position: relative;
        font-weight: 300;
        font-size: rem(24);
        font-family: $fontNun;

        @media(max-width:1024px) {
            font-size: rem(16);
        }

        @media(max-width:576px) {
            font-size: rem(20);
        }
        
    }

    .open {
        display: block;
    }
    
    // .jq-selectbox__dropdown::-webkit-scrollbar-button {
    //     width: 0;
    // }
    
}
.jq-selectbox__dropdown::-webkit-scrollbar {
    width: 0;
}
// .jq-selectbox__dropdown ul::-webkit-scrollbar-thumb {
//     background-color: $colorRed;
// }

// ::-webkit-scrollbar-button:vertical:start:decrement {
//     display: none;
// }

// ::-webkit-scrollbar-button:vertical:end:increment {
//     display: none;
// }

.jq-selectbox__dropdown ul::-webkit-scrollbar-thumb {
    background-color: $colorRed !important;
}

.jq-selectbox__dropdown ul::-webkit-scrollbar-button {
    display: none !important;
}

