.header {
    padding-top: 80px;
    margin-bottom: 80px;

    @media(max-width:1024px){
        margin-bottom: 50px;
        padding-top: 45px;
    }

    @media(max-width:420px){
        margin-bottom: 45px;
        padding-top: 25px;
    }

    &-logo {
        flex: 0 0 245px;
        max-width: 245px;

        @media(max-width:1240px){
            flex: 0 0 128px;
            max-width: 128px;
        }
    }

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1;
    }

    &-nav {
        ul {
            display: flex;
            justify-content: space-between;
            gap:50px;
            
            @media(max-width:1580px){
                gap:30px;
            }

            @media(max-width:1100px){
                gap:25px;
            }

            @media(max-width:1024px){
                gap:30px;
            }
        }

        &-li {
            // margin-left: 50px;

            @media(max-width:1580px){
                // margin-left: 30px;
                // gap: 30px;
            }

            &-link {
                position: relative;
                text-transform: uppercase;
                // font-size: rem(24);
                // font-size: clamp(16px, 16px + 1vw, 24px);
                // font-size: clamp(1rem, 0.4286rem + 0.8929vw, 1.5rem);
                font-size: clamp(1rem, 0.3706rem + 0.9412vw, 1.5rem);

                // @media(max-width:1460px){
                //     font-size: rem(20);
                //  }
                 

                // @media(max-width:1315px){
                //    font-size: rem(16);
                // }

                &:hover {
                    color: $colorRed;
                    &::after {
                        display: block;
                    }
                }

                &::after {
                    content: "";
                    display: none;
                    position: absolute;
                    width: 50px;
                    height: 5px;
                    background-color: $colorRed;
                }
            }
        }

        @media(max-width:1023px) {
            display: none;
        }
    }

    &-burger {
        display: none;

        @media(max-width:1023px) {
            display: block;
        }
    }

    &-mobile {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #E4E4E4;      
        top: 0;
        z-index: 7;
        margin: 0 -45px;
        padding: 25px 25px 80px 25px;
        overflow-y: auto;          

        @media (max-width: 576px) {
          margin: 0 -25px;
        }

        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 80px;
        }

        &-li {
            margin-bottom: 25px;

            &-link {
                font-size: rem(24);

                &:hover {
                    color: $colorRed;
                }
            }
        }

        &-ul {
            margin-bottom: 150px;
        }

        &-txt {
            margin-bottom: 25px;
            font-size: rem(18);
            font-weight: 700;
        }

        &-phone {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            &:nth-of-type(2){
                margin-bottom: 45px;
                background-color: black;
            }

            &-number {
                display: inline-block;
                margin-left: 10px;

                &:hover {
                    opacity: 0.5;
                }
            }
        }

        &-mail {
            display: flex;
            align-items: center;
            margin-bottom: 45px;

            &-email {
                display: inline-block;
                margin-left: 10px;

                &:hover {
                    opacity: 0.5;
                }
            }
        }

        &-brand {
            img {
                margin-right: 15px;
            }
        }
    }

    .jq-selectbox__select {
        display: flex;
        align-items: center;
        height: 100px;
        padding: 0 60px 0 30px;
        background: #ffffff;
        box-shadow: none;
        border: none;

        @media(max-width:1024px) {
            height: 58px;
        }

        @media(max-width:576px) {
            padding: 0 25px;
        }
        
    }

    .jq-selectbox__trigger {
        // height: auto;
        border: none;
        // top: 35%;
        // transform: translate(0, -15%);
        &-arrow {
            border: none;
        }
    }

    .jq-selectbox {
        overflow: unset;
        flex: 0 0 25%;
        max-width: 25%;

        @media(max-width:576px) {
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 5px;
        }
    }

    .jq-selectbox__select {
        // margin: 0 -25px;
        // &::after {
        //     content: "";
        //     position: absolute;
        //     right: 30px;
        //     top: 50%;
        //     transform: translate(0, -50%);
        //     width: 10px;
        //     height: 10px;
        //     // background-image: url("../images/svg/select-arrow.svg");
        //     // width: 60px;
        //     // height: 60px;
        //     transform: rotate(135deg);
        //     border-top: 1px solid #000000;
        //     border-right: 1px solid #000000;

        // }
        border-radius: 0;
    }

    .jq-selectbox__dropdown {
        // bottom: -215px !important;
        bottom: none !important;
        top: 115px !important;
        max-height: 268px !important;
        overflow: hidden;
        overflow-y: auto;

        @media (max-width:576px) {
          max-height: 188px;
          top: 58px !important;
        }
        

        li.selected {
            background-color: #ffffff;
            color: #000;

            &:hover {
                background-color: $colorGray;
                color: $colorRed;
            }
        }
        ul {
            height: 100%;
            max-height: 268px !important;
            border: 1px solid #F2F2F2;
            background-color: #ffffff;
        }
        ul li {
            // display: flex;
            // align-items: center;
            // height: 66px;
            // margin:0 -30px;
            padding:17px 30px;
            font-weight: 300;
            font-size: rem(24);
            font-family: $fontNun;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                background-color: $colorGray;
                color: $colorRed;
            }

            @media(max-width:1024px) {
                font-size: rem(16);
            }

            @media(max-width:576px) {
                font-size: rem(20);
            }
            
        }
        ul::-webkit-scrollbar{
            width: 6px;

            // &-button {
            //     width: 0;
            // }

            // &-track {
            //     background-color: $colorRed;
            // }
            
        }

        
    }

    .jq-selectbox__select-text {
        position: relative;
        font-weight: 300;
        font-size: rem(24);
        font-family: $fontNun;

        @media(max-width:1024px) {
            font-size: rem(16);
        }

        @media(max-width:576px) {
            font-size: rem(20);
        }
        
    }

    .open {
        display: block;
    }
    
    // .jq-selectbox__dropdown::-webkit-scrollbar-button {
    //     width: 0;
    // }
    
}
.jq-selectbox__dropdown::-webkit-scrollbar {
    width: 0;
}
// .jq-selectbox__dropdown ul::-webkit-scrollbar-thumb {
//     background-color: $colorRed;
// }

// ::-webkit-scrollbar-button:vertical:start:decrement {
//     display: none;
// }

// ::-webkit-scrollbar-button:vertical:end:increment {
//     display: none;
// }

.jq-selectbox__dropdown ul::-webkit-scrollbar-thumb {
    background-color: $colorRed !important;
}

.jq-selectbox__dropdown ul::-webkit-scrollbar-button {
    display: none !important;
}

.main-about-info-wrap ul::-webkit-scrollbar-thumb {
    background-color: $colorRed !important;
}

.main-about-info-wrap ul::-webkit-scrollbar-button {
    display: none !important;
}